@import '_bootstrap';

body {
  background-image: url("/images/background.png");
  background-repeat: repeat;
}

#carousel-front-page {
  max-width: 350px;
  margin: auto;
}

.navbar-brand img{
	height:100%;
}

h1{
	font-weight:bold;
}
