@import '_bootstrap';

body {
    background-image: url("/images/background.png");
    background-repeat: repeat;
    margin-top: 75px !important;
    margin-bottom: 0px;
}

.fb-page{
    margin: auto;
}

.navbar {
    min-height: 70px;
}

.navbar-nav {
    margin-left: 16px;
}

.navbar-brand {
    padding: 5px 0px 5px 12px;
    height: 70px;
    margin-right: -25px;
}

.navbar-brand img{
    height: 64px;
    margin: 0px 8px;
}

.nav > li {
    margin-top: 9px;
    font-size: 22px;
}

h1, h2, h3, h4{
    font-weight:bold;
}

h1 {
    font-size:40px;
}

h2 {
    font-size:28px;
}

h3 {
    font-size:18px;
}
hr {
    border-color: $gray-darker;
}

.sponsor-column {
    img.sponsors{
        max-width: 100%;
        max-height: 70px;
        display: block;
        margin: auto;
        margin-top: 8px;
        margin-bottom: 2px;
        box-shadow: 0px 0px 12px rgba(90,90,90,0.8);
        padding: 8px;
        border: 1px solid #949494;
    }
    h3 {
        margin-top: 8px;
        margin-bottom: 0px;
    }
    hr {
        margin: 8px 0px;
    }
    text-align: center;
    width: 100%;
}

.social-sidebar{
    position: absolute;
    left: 4px;
}

.twitter-container{
    max-height: 600px;
    max-width: 250px;
}

.facebook-container{
    height: 600px;
    width: 250px;
}

#carousel-front-page {
    max-width: 400px;
    margin: auto;
}

.carousel-container{
    
    left: 120px;
    height: 200px;

    img {
        max-height: 200px;
        max-width: 400px;
    }
}


h1 ~ div{
    margin-top: -5px;
}

h3{
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 20px;
}

h2{
    margin-top: 5px;
    margin-bottom: 0px;
}

h3 ~ p{
    margin-left: 20px;
}

.index-about-container{
    height: 800px;
    width: 1000px;
    position: relative;
    left: 200px;
}

.teamhistory img.history{
    width: 250px;
}

.robots {
    height: 300px;
    float: right
}
.big_robot {
    height: 300px;
    float: right;
}

.pull-center iframe {
    display: block;
    margin: auto;
}

.pull-center h3 {
    text-align: center;
}

.media {
    overflow: auto;
    td {
        vertical-align: middle !important;
    }
    h3 {
        font-size: 24px;
    }
}

.sponsors {
    text-align: center;

    hr{
        margin: 8px;
    }

    .row {
        margin: 8px 0px;
    }
}

.container.sponsor-column {
 background-color: #c7c7ce;
 
}

.carousel-inner .active.left { left: -33%; }
.carousel-inner .next        { left:  33%; }
.carousel-inner .prev        { left: -33%; }
.carousel-control.left,.carousel-control.right {background-image:none;}