<h1>About Us</h1>
	<p>We are Westside Boiler Invasion, FIRST Robotics team #461. Learn more about Our Team.</p>
<h2>Mailing Information</h2>
<h3>You can visit our school at:</h3>
	<p class="address">West Lafayette Jr./Sr. HIght School
1105 N Grant St
West Lafayette, IN 47906</p>
<h3>Donations can be sent to our parent group at:</h3>
<p class="address">461 Boosters, Inc.
PO Box 2734
West Lafayette, IN 47906</p>
<h3>You can e-mail us at:</h3>
<p><a href="mailto:wbi461@gmail.com">wbi461@gmail.com</a></p>
<h2>People</h2>
<ul>
	<li>Brad Thompson, High School Teacher and Coach</li>
	<li>Hope O'Connor, Director of Robotics</li>
	<li>Peyton Yeung, Technical Coordinator</li>
</ul>

