<body>
</br>
<div class="col-md-8">
<div class="clearfix panel panel-grey">
<div class="panel-body">
<h1>About Us</h1>
</div>
</div>
</div>


<div class="col-md-7">
<div class="clearfix panel panel-grey">
<div class="panel-heading"><h2>Our Team</h2></div>
<div class="panel-body">
	<h3>What is Westside Boiler Invasion</h3>
	<p>Westside Boiler Invasion (WBI) is a high school robotics team located in West Lafayette, IN, that competes in the <em>FIRST&reg</em> (For Inspiration and Recognition of Science and Technology) Robotics Competition (FRC). But more importantly Westside Boiler Invasion 461 is an amazing program that inspires students to do more with their lives. Through hands on work on robots, animations, websites, and other projects, team members learn the promise of science and technology fields.</p>
<h3>Mission</h3>
	<p>To inspire high school students to excel in the fields of technology and engineering, realizing their untapped potential.</p>
<h3>Vision</h3>
	<p>To develop into an influential force in order to spread the message of <em>FIRST&reg</em> beyond the boundaries of our high school and community.</p>
<h3>Changing Lives</h3>
	<p><em>FIRST&reg</em> and Westside Boiler Invasion teach important technical knowledge, skills in management, and public relations to its members and community. Team involvement also strengthens students' life skills, particularly their organization, dedication, and capacity for hard work.</p>
<p>The <em>FIRST&reg</em> and WBI programs attract the interest of students in the fields of science and technology. These organizations affect everyone involved, including teachers, advisors, sponsors, and the community. While involvement in FIRST requires a lot of work, the work pays back tenfold.
</p>
<p>Each January, <em>FIRST&reg</em> announces the rules for the year's game. The high school team members work with engineers, teachers, and college advisors to design and construct a robot to play the game. Constructing the robot is a difficult task--each team gets merely six weeks to complete it, after which teams compete in regional and national competitions. Although the competition and the building of the robot take only a few weeks, Westside Boiler Invasion works throughout the entire year.</p>
</div>
</div>
</div>

<div class="col-md-5">
<div class="clearfix panel panel-grey">
<div class="panel-heading"><h2>Leadership Team</h2></div>
<div class="panel-body">
<ul>
        <li>Brad Thompson, Co-Lead Mentor</li>
        <li>Steve Florence, Co-Lead Mentor</li>
        <li>Hope O'Connor, Purdue <em>FIRST&reg</em> Programs Director</li>
        <li>Peyton Yeung, Purdue <em>FIRST&reg</em> Programs Technical Coordinator</li>
        <li>Daphne Fauber, Team President </li>
        <li>Randy Kuang, Team Vice President </li>
        <li>Linnea Nelson, Team Secretary</li>
		
</ul>
</div>
</div>

<div class="clearfix panel panel-grey">
<div class="panel-heading"><h2>Contact Us</h2></div>
<div class="panel-body">
	<h3>Mailing Address</h3>
<p class="address">
Westside Boiler Invasion<br/>
PO Box 2734<br/>
West Lafayette, IN 47996</p>
<h3>Email</h3>
<p><a href='mailto:brad@boilerinvasion.org'>Lead Mentors [brad@boilerinvasion.org]</a></p>
<p><a href='mailto:donate@boilerinvasion.org'>Donation &amp; Sponsorship Contacts [donate@boilerinvasion.org]</a></p>
<p><a href='mailto:president@boilerinvasion.org'>Student Lead [president@boilerinvasion.org]</a></p>
<p><a href='mailto:outreach@boilerinvasion.org'>Outreach Lead [outreach@bolierinvasion.org]</a></p>
</div>
</div>
</div>
