
<div class="row"> <h1>About Us</h1>
<div class="col-md-7"> <h2>Our Team</h2>
	<h3>What is Westside Boiler Invasion</h3>
	<p>Westside Boiler Invasion (WBI) is a high school robotics team located in West Lafayette, IN, that competes in the FIRST (For Inspiration and Recognition of Science and Technology) Robotics Competition. But more importantly Westside Boiler Invasion 461 is an amazing program that inspires students to do more with their lives. Through hands on work on robots, animations, websites, and other projects, team members learn the promise of science and technology.</p>
<h3>Mission</h3>
	<p>To inspire high school students to excel in the fields of technology and engineering, realizing their untapped potential.</p>
<h3>Vision</h3>
	<p>To develop into an influential force in order to spread the message of FIRST beyond the boundaries of our high school and community.</p>
<h3>Changing Lives</h3>
	<p>FIRST and Westside Boiler Invasion teach important technical knowledge, skills in management, and public relations to its members and community. Team involvement also strengthens students' life skills, particularly their organization, dedication, and capacity for hard work.</p>
<p>The FIRST and WBI programs attract the interest of students in the fields of science and technology. These organizations affect everyone involved, including teachers, advisors, sponsors, and the community. While involvement in FIRST requires a lot of work, the work pays back tenfold.</p>
<p>Each January, FIRST announces the rules for the year's game. The high school team members work with engineers, teachers, and college advisors to design and construct a robot to play the game. Constructing the robot is a difficult task-each team gets merely six weeks to complete it, after which teams compete in regional and national competitions. Although the competition and the building of the robot take only a few months, Westside Boiler Invasion works throughout the entire year.</p>
</div>
<div class="col-md-5">
<h2>Leadership Team</h2>
<ul>
        <li>Brad Thompson, IT Guru,  Teacher, and Lead Mentor</li>
        <li>Hope O'Connor, Purdue FIRST Programs Director</li>
        <li>Peyton Yeung, Purdue FIRST Programs Technical Coordinator</li>
        <li>Haley Nelson, Team President </li>
        <li>Matthew Lim, Team Vice President </li>
        <li>Randy Kuang, Team Secretary</li>
</ul>
 <h2>Contact Us</h2>
	<h3>Mailing Address</h3>
<p class="address">
Westside Boiler Invasion<br/>
c/o Brad Thompson<br/>
1105 N Grant St<br/>
West Lafayette, IN 47906</p>
<h3>Email</h3>
<p><a href='mailt&#111;&#58;%6&#50;r&#37;&#54;1d&#64;&#98;&#111;i%&#54;&#67;&#37;&#54;&#53;r&#105;nv&#97;%73&#105;o&#110;&#46;or&#103;'>Lead Mentor &#98;rad&#64;b&#111;&#105;l&#101;&#114;i&#110;vasion&#46;org</a></p>
<p><a href='mailto&#58;pr&#101;side&#110;t&#64;b%6F&#105;%6&#67;e%72%69%6&#69;v&#97;%73%6&#57;o&#110;&#37;2&#69;o%72&#37;&#54;&#55;'>Student Lead pr&#101;&#115;&#105;&#100;ent&#64;&#98;&#111;iler&#105;n&#118;a&#115;i&#111;n&#46;&#111;rg</a></p>
<p><a href='m&#97;i&#108;to&#58;&#111;&#117;t%72each&#64;boile%7&#50;&#105;&#110;%76a&#37;73%&#54;9on%&#50;Eo&#114;g'>Outreach Lead outrea&#99;&#104;&#64;boilerinv&#97;sion&#46;or&#103;</a></p>
</div>
