<h1>About Us</h1>
	<p>We are Westside Boiler Invasion, FIRST Robotics team #461. Learn more about Our Team.</p>
<h2>Contact Us</h2>
<h3>Mailing Address</h3>
<p class="address">
FRC Team 461<br/>
c/o Brad Thompson<br/>
1105 N Grant St<br/>
West Lafayette, IN 47906</p>
<h2>Leadership Team</h2>
<ul>
	<li>Brad Thompson, IT Guru,  Teacher and Lead Mentor</li>
	<li>Hope O'Connor, Purdue FIRST Programs Director</li>
	<li>Peyton Yeung, Purdue FIRST Programs Technical Coordinator</li>
	<li>Haley Nelson, Team President </li>
	<li>Mathew Lim, Team Vice President </li>
	<li>Randy Kuang, Team Secretary</li>
</ul>






