<h1>About FIRST</h1>
<<<<<<< HEAD
	<p>FIRST, or, "For Inspiration and Recognition of Science and Technology," was founded in 1989 by Dean Kamen to inspire young people's interest and participation in science and technology. Their mission, according to the FIRST website, is to "inspire young people to be science and technology leaders, by engaging them in exciting mentor-based programs that build science, engineering and technology skills, that inspire innovation, and that foster well-rounded life capabilities including self-confidence, communication, and leadership."</p>
	<p>In 2013, the FIRST Robotics Competition currently encompasses more than 50,000 high-school students on over 2,500 teams. The majority of high-school students engage in the FRC, or FIRST Robotics Competition. During build season, students have a six week time period to design, build, and debug their robot to meet specifications and rules set for the competition that year.</p>
<img src="/images/DSC08470.JPG"height="199" width="300"  />




=======
<p>FIRST, or, "For Inspiration and Recognition of Science and Technology," was founded in 1989 by Dean Kamen to inspire young people's interest and participation in science and technology. Their mission, according to the FIRST website, is to "inspire young people to be science and technology leaders, by engaging them in exciting mentor-based programs that build science, engineering and technology skills, that inspire innovation, and that foster well-rounded life capabilities including self-confidence, communication, and leadership."</p>
<p>In 2013, the FIRST Robotics Competition currently encompasses more than 50,000 high-school students on over 2,500 teams. The majority of high-school students engage in the FRC, or FIRST Robotics Competition. During build season, students have a six week time period to design, build, and debug their robot to meet specifications and rules set for the competition that year.</p>
>>>>>>> 9fb4157a60324cfb011f7c923e85f4368dc54643
