<h1>Media Subteam</h1>
<p>The media subteam is responsible for team documentation through pictures and videos, along with creating and maintaining team graphics.
</p>
<h2>Yearly Animations</h2>
</br>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<table class="table">
			<tr>
				<td>
					<h3>2014 Animation</h3>
				</td>
				<td>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/fFj3xW5GZEQ" frameborder="0" allowfullscreen></iframe>
				</td>
			</tr>
			<tr>
				<td>
					<h3>2013 Animation</h3>
				</td>
				<td>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/rgFkWS_2k_c" frameborder="0" allowfullscreen></iframe>
				</td>
			</tr>
			<tr>
				<td>
					<h3>2012 Animation</h3>
				</td>
				<td>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/OfeNhJ5SXoU" frameborder="0" allowfullscreen></iframe>
				</td>
				<tr/>
				<tr>
					<td>
						<h3>2011 Animation</h3>
					</td>
					<td>
						<iframe width="560" height="315" src="https://www.youtube.com/embed/NR87RDAMq34" frameborder="0" allowfullscreen></iframe>
					</td>
				</tr>
				<tr>
					<td>
						<h3>2010 Animation</h3>
					</td>
					<td>
						<iframe width="560" height="315" src="https://www.youtube.com/embed/Dx2SpbWJSqs" frameborder="0" allowfullscreen></iframe>
					</td>
				</tr>
				<tr>
					<td>
						<h3>2009 Animation</h3>
					</td>
					<td>
						<iframe width="560" height="315" src="https://www.youtube.com/embed/MNEz8yeXSoM" frameborder="0" allowfullscreen></iframe>
					</td>
				</tr>
				<tr>
					<td>
						<h3>2008 Animation</h3>
					</td>
					<td>
						<iframe width="560" height="315" src="https://www.youtube.com/embed/xb4GxMur6EY" frameborder="0" allowfullscreen></iframe>
					</td>
				</tr>
				<tr>
					<td>
						<h3>2007 Animation</h3>
					</td>
					<td>
						<iframe width="560" height="315" src="https://www.youtube.com/embed/GdEPJsjZeeY" frameborder="0" allowfullscreen></iframe>
					</td>
				</tr>
				<tr>
					<td>
						<h3>2006 Animation</h3>
					</td>
					<td>
						<iframe width="560" height="315" src="https://www.youtube.com/embed/rUh5idG7EBY" frameborder="0" allowfullscreen></iframe>
					</td>
				</tr>
				<tr>
					<td>
						<h3>2005 Animation</h3>
					</td>
					<td>
						<iframe width="560" height="315" src="https://www.youtube.com/embed/OGq2JKpIOpA" frameborder="0" allowfullscreen></iframe>
					</td>
				</tr>
				<tr>
					<td>
						<h3>2004 Animation</h3>
					</td>
					<td>
						<iframe width="560" height="315" src="https://www.youtube.com/embed/tBSdFm7-K2U" frameborder="0" allowfullscreen></iframe
					</td>
				</tr>
				<tr>
					<td>
						<h3>2003 Animation</h3>
					</td>
					<td>
						<iframe width="560" height="315" src="https://www.youtube.com/embed/TNstcNOl8eA" frameborder="0" allowfullscreen></iframe>
					</td>
				</tr>
				<tr>
					<td>
						<h3>2002 Animation</h3>
					</td>
					<td>
						<iframe width="560" height="315" src="https://www.youtube.com/embed/nH7JwHdbEGc" frameborder="0" allowfullscreen></iframe>
					</td>
				</tr>
				<tr>
					<td>
						<h3>2001 Animation</h3>
					</td>
					<td>
						<iframe width="560" height="315" src="https://www.youtube.com/embed/7j3EAM1x8cU" frameborder="0" allowfullscreen></iframe>
					</td>
				</tr>
		</table>
	</div>
</div>
