<h1>Community Activities</h1>
<p>As is evident from FIRST's vision statement - "To create a world where science and technology are celebrated…where young people dream of becoming science and technology heroes" - FIRST is not truly about building robots but instead inspiring America's youth about science and technology. Indeed, FIRST's highest award, the Chairman's Award, celebrates not successful robots but instead successful teams, those teams which best spread the inspiration of science and technology.
</p>
<p>To this end, WBI 461 is fully dedicated to community service and robotics outreach. Our varied initiatives include showcasing the robot in non-traditional settings, presenting workshops to different audiences, and volunteering our time helping local community organizations.
</p>
<p>WBI 461 has also helped mentor six separate teams: 1555, 1646, 1747, 2171, 3487, and 4272 and brought the FIRST program to schools and people who had never before experienced it. We originally included all of the schools in our region, but then our team got too large, and we had to split into multiple different teams. For the 2005 season we split into 1646; the next year we split again creating team 1747. Recently we helped form 4272.
</p>
<h2>Team Community Service and Outreach Initiatives</h2>
<h3>Indiana State Fair Presentation</h3>
<p> The team has been a part of the state fair for the past eight years. This participation has been a great opportunity for our team to demonstrate the joys of science, math, technology and engineering. We have presented programs and set up FLL, Vex, and FRC robots for attendees to drive.
</p>
<h3>FLL Team Mentoring</h3>
<p> Our <a href="www.boilerinvasion.org/about_first_lego.html">FLL </a>teams have grown from 12 students four years ago to 80 students today in grades 5-8. High school team members mentor FLL students. Many of these students go on to become members of WBI, showing that FLL can be a good introduction to eventual participation in <a href="www.boilerinvasion.org/about_first_robotics.html">FRC</a>.
</p>
<h3>Adopt-A-Spot</h3>
<p> WBI has adopted an Adopt-A-Spot in our local community. This spot is kept squeaky clean by team members at all times.
</p>
<a href="www.boilerinvasion.com/boy_scout_documents"><h3>Boy Scout Workshops</h3></a>
<p> Westside Boiler Invasion has held several workshops this year for Boy Scouts. In these workshops, Boy Scouts learn the fundamentals of <a href="http://www.lego.com/en-us/mindstorms/?domainredir=mindstorms.lego.com">LEGO Robotics</a>, the hardware and software used in <a href="www.boilerinvasion.org/about_first_lego.html">FLL</a>.
	<h3>Library and Mall Demos</h3>
	<p>WBI also does library and mall demos to encourage kids to go into STEM and robotics related career paths. If you would like for us to come to your library for a demo, please <a href="www.boilerinvasion.org/about.html">contact us</a>.
	</p>
	<h3>Best Buddies</h3>
	<p>We have formed a partnership with a local branch of a national organization, Best Buddies. We hold workshops and give demonstrations to the special needs kids in Best Buddies annually.
	</p>
	<h3>El Salvador</h3>
	<p>We also do international outreach to less privileged schools in El Salvador. We ship FLL mats and kits to these schools to encourage them to enter into STEM related fields.
	</p>
