---
title: Westside Boiler Invasion
---

	<div class="container">
		<div class="row">
			<div class="col-md-12">Fixed top Navbar</div>
		</div>
		<div class="row">
			<div class="container">
				<div class="row">
					<div class="col-md-12">Carousel</div>
					<div class="col-md-3">social media feed</div>
					<div class="col-md-9">content/blog posts</div>
				</div>
			</div>
		</div>
	</div>
  <p class="doc">
Roboticy stuffs    
  </p><!-- .doc -->
