---
title: Westside Boiler Invasion
---
<div class="indexpage">
  <div class="social-sidebar">

    <div class="twitter-container">
      <a class="twitter-timeline" href="https://twitter.com/frc461" data-widget-id="647154028502253568">Tweets by @frc461</a>
    </div>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement  (s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    <br/>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div class="facebook-container">
      <div class="fb-page" data-href="https://www.facebook.com/WBI461" data-height="600" data-width="250" data-small-header="false" data-adapt-container-width="true" data hide-cover="false" data-show-facepile="false" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/WBI461"><a href="https://www.facebook.com/WBI461">Westside Boiler Invasion</a></blockquote></div></div>
    </div>

  </div>

  <div class="carousel-container">
    <div id="carousel-front-page" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-front-page" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-front-page" data-slide-to="1"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <center>
            <img class="carousel-image" src='/images/team-photo.jpg' alt="...">
            <div class="carousel-caption">
              <center/>
              ...
            </div>
          </div>
          <div class="item">
            <center>
              <img class="carousel-image" src='/images/cory-picture-3.jpg' alt="...">
              <div class="carousel-caption">
                <center/>
                ...
              </div>
            </div>
          </div>
          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-front-page" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-front-page" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

    <div class="index-about-container">
      <br/>
      <p>
	FIRST Team 461 Westside Boiler Invasion is operated out of West Lafayette Jr./Sr. High School (WLHS), located in West Lafayette, Indiana, and led by Brad Thompson, a WLHS teacher.
      </p>
      <p>
	WBI members participate year-round in FIRST related activities, whether it be robot-building practice, website coding for team promotion, or outreach events to promote FIRST robotics and STEM education. This helps to not only prepare students for FIRST Robotics Competitions (FRC), but it also helps to familiarize team members with the principles of FIRST.
      </p>
      <p>
        In the words of FIRST founder Dean Kamen, FIRST was created to transform our culture by creating a world where science and technology are celebrated and where young people dream of becoming science and technology heroes. The mission of FIRST is to engage young people and inspire them to change the world.
      </p>
      <p>
	Through a wide range of opportunities and mentoring, participating students can enhance their technology skills, build self-confidence and leadership, learn to work as a team to achieve goals, and experience the excitement of FIRST competition while making many new friends along the way.
      </p>
      <p>
        FIRST organizes several robotics competitions to get students involved in robotics through a fun game. The major competition is the FIRST Robotics Competition, in which students build robots to play a given game on a human-sized field. FIRST also organizes the FIRST Tech Challenge, a game similar to FRC but smaller, and the FIRST LEGO League, a game where teams build robots out of LEGOs to accomplish certain tasks.
      </p>

      <p>
        Much more, in fact. FIRST team 461's influence can be seen in the local community through our mentoring of seve
      </p>

      <p>
      However, if it weren't for the generosity of the individuals and businesses who sponsor our program, we would not have the resources to provide these great opportunities for our community. If you would like to sponsor our team, please see the Support Us page.
      <a>"/support.html">Support Us</a>  page.
      </p><!-- .doc -->
    </div>
  </div>
    </div>
