---
title: Westside Boiler Invasion
---
<div class="indexpage">
  <div class="row">
    <div class="col-md-3">
  <div class="social-sidebar">

    <div class="twitter-container">
      <a class="twitter-timeline" href="https://twitter.com/frc461" data-widget-id="647154028502253568">Tweets by @frc461</a>
    </div>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement  (s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    <br/>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div class="facebook-container">
      <div class="fb-page" data-href="https://www.facebook.com/WBI461" data-height="600" data-width="250" data-small-header="false" data-adapt-container-width="true" data hide-cover="false" data-show-facepile="false" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/WBI461"><a href="https://www.facebook.com/WBI461">Westside Boiler Invasion</a></blockquote></div></div>
  </div>
  </div>
</br>
<a href="https://www.instagram.com/team461wbi/"><img src="/images/instagram-logo.png"></a>
</div>

  <div class="index-about-container">
    <div class="carousel">
      <div><img src="/images/teampic2.jpg"></div>
      <div><img src="/images/child.jpg"></div>
      <div><img src="/images/Bradhelp.jpg"></div>
      <div><img src="/images/crestwhite.jpg"></div>
      <div><img src="/images/Robot2.jpg"></div>
      <div><img src="/images/DSC_2578.JPG"></div>
      <div><img src="/images/DSC_2832.JPG"></div>
      <div><img src="/images/DSC_2610.JPG"></div>
      <div><img src="/images/DSC_2646.JPG"></div>
      <div><img src="/images/DSC_2563.JPG"></div>
    </div>

  </div>
  <br/>
	<h2>Who We Are</h2>
  <p>
   <em>FIRST&reg</em> Team 461 Westside Boiler Invasion is operated out of West Lafayette Jr./Sr. High School (WLHS), located in West Lafayette, Indiana, and led by Brad Thompson, a WLHS teacher.
  </p>
  <p>
    WBI members participate year-round in <em>FIRST&reg</em> related activities, whether it be robot-building practice, website coding for team promotion, or outreach events to promote <em>FIRST&reg</em> robotics and STEM education. This helps to not only prepare students for <em>FIRST&reg</em> Robotics Competitions (FRC), but it also helps to familiarize team members with the principles of <em>FIRST&reg</em>.
  </p>
</br>
<h2>What Is <em>FIRST&reg</em></h2>
  <p>
    In the words of <em>FIRST&reg</em> founder Dean Kamen, <em>FIRST&reg</em> was created "to transform our culture by creating a world where science and technology are celebrated and where young people dream of becoming science and technology heroes."</p>
<p> The mission of <em>FIRST &reg</em> is to engage young people and inspire them to change the world. Through a wide range of opportunities and mentoring, participating students can enhance their technology skills, build self-confidence and leadership, learn to work as a team to achieve goals, and experience the excitement of <em>FIRST&reg</em> competition while making many new friends along the way.
  </p>
<p>
   <em>FIRST&reg</em> organizes several robotics competitions to get students involved in robotics through a fun game. The major competition is the <em>FIRST&reg</em> Robotics Competition, in which students build robots to play a given game on a human-sized field. <em>FIRST&reg</em> also organizes the <em>FIRST&reg</em> Tech Challenge, a game similar to FRC but smaller, and the <em>FIRST&reg</em> LEGO&reg League, a game where teams build robots out of LEGOs&reg to accomplish certain tasks.
  </p>
</br>
<h2>How We Exist</h2>
  <p>
   If it weren't for the generosity of the individuals and businesses who sponsor our program, we would not have the resources to provide these great opportunities for our community. If you would like to sponsor our team, please see the <a href="/support.html">Support Us</a>  page.
  </p><!-- .doc -->
</div>
</div>
</div>
</div>
</div>
