---
title: Westside Boiler Invasion
---
<div class="indexpage">
  <div class="social-side">

    <div class="twitter-container">
      <a class="twitter-timeline" href="https://twitter.com/frc461" data-widget-id="647154028502253568">Tweets by @frc461</a>
    </div>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement  (s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    <br/>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div class="facebook-container">
      <div class="fb-page" data-href="https://www.facebook.com/WBI461" data-height="600" data-width="250" data-small-header="false" data-adapt-container-width="true" data hide-cover="false" data-show-facepile="false" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/WBI461"><a href="https://www.facebook.com/WBI461">Westside Boiler Invasion</a></blockquote></div></div>
    </div>

  </div>

  <div class="carousel-container">
    <div id="carousel-front-page" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-front-page" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-front-page" data-slide-to="1"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <center>
            <img class="carousel-image" src='/images/team-photo.jpg' alt="...">
            <div class="carousel-caption">
              <center/>
              ...
            </div>
          </div>
          <div class="item">
            <center>
              <img class="carousel-image" src='/images/cory-picture.jpg' alt="...">
              <div class="carousel-caption">
                <center/>
                ...
              </div>
            </div>
          </div>
          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-front-page" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-front-page" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>

    <div class="index-about-container">
      <br/>
      <p>
        We are high school FIRST Robotics team 461 from West Lafayette, Indiana who are passionate about science and technology. Since 1999, technology teacher Steve Florence has encouraged students to pursue their interests in science, engineering, and technology. By working together to accomplish tasks in such fields as technology and public relations, we excite other students and the community about the values of FIRST.
      </p>

      <p>
        In the words of founder Dean Kamen, FIRST was created to transform our culture by creating a world where science and technology are celebrated and where young people dream of becoming science and technology heroes.
        The mission of FIRST is to engage young people in science and technology and inspire them to pursue a career in engineering. Students are able to experience the excitement of the robot competitions while working together to acheive their goals. Through mentoring and teamwork, students can enhance their technology skills, as well as building self-confidence and leadership, while making many new friends along the way.

      </p>

      <p>
        FIRST organizes several robotics competitions to get students involved in robotics through a fun game. The major competition is the FIRST Robotics Competition, in which students build robots to play a given game on a human-sized field. FIRST also organizes the FIRST Tech Challenge, a game similar to FRC but smaller, and the FIRST LEGO League, a game where teams build robots out of LEGOs to accomplish certain tasks.
      </p>

      <p>
        Much more, in fact. FIRST team 461's influence can be seen in the local community through our mentoring of several FLL teams, our summer camps, FRC at the library and schools, and in our adopt-a-spot. At the state level we participate in the State Fair and we have helped over 1000 Boy Scouts receive a Robotics Merit Badge. Our influence can be seen as far as El Salvador, where we have sent Lego kits and have helped start an FLL team.
      </p>

      <p>
        If it weren't for the generosity of the individuals and businesses who sponsor our program. If you would like to sponsor our team, please see the Support Us page.
      </p><!-- .doc -->
    </div>
  </div>
