<body>
<h1>Media and Graphics</h1>
<div>This subteam uses computers to create graphics, audio, video, animations and other media files. They are also responsible for making and maintaing the website.
</div>
</body>
