<h1>Media Subteam</h1>
<p>The media subteam is responsible for team documentation through pictures and videos, along with creating and maintaining team graphics.
</p>
<h2>Yearly Animations</h2>
</br>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <table class="table">
      <tr>
        <td>
              <h3>Past Animations</h3>
            </td>
            <td>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLgoj4zc8XUd5kL1UGaViviYYRSrN_s1jv" frameborder="0" allowfullscreen></iframe>
            </td>
          </tr>
        </table>
      </div>
    </div>
