<body>
</br>
<div class="col-md-8">
<div class="clearfix panel panel-grey">
<div class="panel-body">
<h1>Media Subteam</h1>
<p>The media subteam is responsible for team documentation through pictures and videos, along with creating and maintaining team graphics.
</p>
</div>
</div>
</div>
<div class="col-md-8 col-md-offset-2">
<br/>
<br/>
<div class="clearfix panel panel-grey"> 
<div class="panel-heading"><h2>Branding Guide</h2></div>
<div class="panel-body">
<a class="btn btn-primary" href="/assets/branding_guide.pdf" role="button">PDF Version</a>
</div>
</div>
<div class="clearfix panel panel-grey"> 
<div class="panel-heading"><h2>Yearly Animations</h2></div>
<div class="panel-body">
	<div class="animation-iframe">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLgoj4zc8XUd5kL1UGaViviYYRSrN_s1jv" frameborder="0" allowfullscreen></iframe>
	</div>
      </div>
    </div>
</div>
