<<<<<<< HEAD
<body>
<h1>Media and Graphics</h1>
<div>This subteam uses computers to create graphics, audio, video, animations and other media files. They are also responsible for making and maintaing the website.
</div>
</body>
=======
<h1>Media and Graphics Subteam</h1>
<p>This subteam uses computers to create graphics, audio, video, animations and other media files. They are also responsible for making and maintaing the website.
</p>
>>>>>>> 657f8c54f66da36d8438a64f30af5629450c63c9
