<h1>Media</h1>
<p>The media subteam is split into  two smaller subteams.
</p>
<p>Animation
</p>
<p>The animation sub-team creates a yearly safety animation as well as smaller animated clips to be used in other media.
</p>
<p>Past Animations
</p>
