<h1> Outreach </h1>
<p>The outreach subteam is responsible for organizing events, corresponding with the

media, and working with other teams from around the state to spread the message

of FIRST. This subteam is also in charge of most award submissions.</p>
