<h1>Outreach and Initiatives Subteam</h1>
<p>The outreach subteam is responsible for organizing events, corresponding with the
  media, and working with other teams from around the state to spread the message
  of <em>FIRST&reg</em>. This subteam is also in charge of most award submissions.</p>
<h2>Outreach Downloads</h2>
<p>WBI makes our former Award Submissions as well as materials for some of our outreach events available on our website. <a href="/outreach_downloads.html">Outreach Downloads</a>
</br>
<h2>Community Activities</h2>
<div class="row">
<div class="col-md-6">
<h3>Team to Team interactions</h3>
 <p>WBI 461 has helped mentor six separate teams: 1555, 1646, 1747, 2171, 3487, and 4272 and brought the <em>FIRST&reg</em> program to schools and people who had never before experienced it. We originally included all of the schools in our region, but then our team got too large, and we had to split into multiple different teams. For the 2005 season we split into 1646; the next year we split again creating team 1747. In 2012 we helped form 4272.
 </p>
<h3>Indiana State Fair Presentation</h3>
<p> The team has been a part of the state fair for the past eight years. This participation has been a great opportunity for our team to demonstrate the joys of science, math, technology and engineering. We have presented programs and set up FLL, Vex, and FRC robots for attendees to drive.
</p>
<h3>Adopt-A-Spot</h3>
<p> WBI has adopted an Adopt-A-Spot in our local community. This spot is kept squeaky clean and beautiful by team members at all times.</h3>

<h3>Boy Scout Workshops</h3>
 <p> Westside Boiler Invasion has held several workshops this year for Boy Scouts. In these workshops, Boy Scouts learn the fundamentals of <a href="http://www.lego.com/en-us/mindstorms/?domainredir=mindstorms.lego.com">LEGO Robotics</a>, the hardware and software used in FLL.</p>
<h3>Library and Mall Demos</h3>
 <p>WBI also does library and mall demos to encourage kids to go into STEM and robotics related career paths. If you would like for us to come to your library for a demo, please <a href="/about.html">contact us</a>.

 </p>
<h3>Best Buddies</h3>
 <p>We have formed a partnership with a local branch of a national organization, Best Buddies. We hold workshops and give demonstrations to the special needs kids in Best Buddies annually.
 </p>
<h3>Ronald McDonald House Food Drive</h3>
 <p> Every year we hold a food drive for the Ronald McDonald House. The schools music classes  compete to bring in the most food, water, and other necessities. Over the past 4 years we have donated over 7000 items to the drive.
 </p>
<h3>Dodge Cancer</h3>
<p>Dodge cancer is a competition held by WBI almost every year that is open to all West laffeyette high school students. This event helps raise funds for cancer research/treatment by hosting a dodge ball match with ten teams of students, who choose teams to compete.
 </p>
<h3>Cumberland Demos</h3>
 <p>WBI does a few robot demonstrations at Cumberland elementary school. Though these events in six years WBI has done demonstrations for more than four-hundred local children.
 </p>
<h3>Summer Camps</h3>
 <p>West lafeyette High School has multiple sessions of lego robotics summer camps that are during the first two weeks of June. We always make sure to have some high school FRC students to help with the program.
 </p>
<h3>Purdue <em>FIRST&reg</em> Forums</h3>
 <p>The Purdue <em>FIRST&reg</em> Fourms is a conference for people to talk about <em>FIRST&reg</em> related topics. PFP runs the event but many, 461 students participate.
 </p> 
<h3>Paint the Rain</h3>
 <p>Paint the rain is a program based in Lafayette and West lafayette to help conserve water. Each year 461 Paints two rain barrels to give to the community to collect rain water.
 </p>
<h3>Celebrate Science</h3>
 <p>Celebrate Science is an annual Indiana event that can be described as a gathering of various high school college and higher STEM groups, clubs, businesses, and educational groups from all around Indiana. Each year we go and demonstrate FRC and lego robotics to promote STEM values.
 
</p>
<h3>Movie Nights</h3>
 <p>Movie night is an event done three times a year: once for 4th grade, once for 5th grade, and once for 6th grade at Happy Hollow Elementary School. A fun social gathering for students, WBI goes to each movie night every year. Movie Night is an opportunity to spread the message of <em>FIRST&reg</em>  and promote interests in robotics because the majority of students in the school go to their movie night.
 </p>
<h3>Curiosity fair</h3>
 <p>Curiosity fair is an annual festival at Conner Prairie for younger children to learn and explore hands-on with topics such as science, nature, food, reading, art, animals, and of course robotics. Each year we bring a FRC robot and lego robots and allow children to use these various robots hands-on.
 </p>
<h3>Minorities in Engineering</h3>
 <p>The Minority in Engineering Program is an organization run by Purdue University staff and students whose aim is to help historically underrepresented students pursuit of engineering. WBI conducts sessions geared towards getting participates familiar with STEM over several days.
 </p>
</div>
<div class="col-md-6">
<center>
   <img class="immages" src="images/food_drive_1.jpg" height="200">
<img class="immages" src="/images/child_happy.jpg" height="200">
<img class="immages" src="/images/teach.jpg" height="200">
<img class="immages" src="images/celebrateScienceOld.JPG" height="200">
   <img class="immages" src="images/celebrateScienceOld-2.JPG" height="200">
   <img class="immages" src="images/food_drive_2.jpg" height="200">


   <img class="immages" src="images/linnea.jpg" height="200">
   <img class="immages" src="images/adopt-a-spot.jpg" height="200">
   <img class="immages" src="/images/sumo.jpg" height="200">
<img class="immages" src="/images/food.jpg" height="200">
<img class="immages" src="/images/gym.jpg" height="200">
<img class="immages" src="/images/goat.jpg" height="200">
<img class="immages" src="/images/laugh.jpg" height="200">

<img class="immages" src="/images/hat.jpg" height="200">
<img class="immages" src="/images/children.jpg" height="200">
   <img class="immages" src="/images/explaining.jpg" height="200">
<img class="immages" src="/images/draw.jpg" height="200">
<img class="immages" src="/images/plaid.jpg" height="200">
<img class="immages" src="/images/lego.jpg" height="200">

   <img class="immages" src="/images/flowers.jpg" height="200">
</center>
</div>
</div>
