<h1>Outreach and Initiatives Subteam</h1>
<p>The outreach subteam is responsible for organizing events, corresponding with the
media, and working with other teams from around the state to spread the message
of FIRST. This subteam is also in charge of most award submissions.</p>
</br>
<h2>Community Activities</h2>
 <p>WBI 461 has also helped mentor six separate teams: 1555, 1646, 1747, 2171, 3487, and 4272 and brought the FIRST program to schools and people who had never before experienced it. We originally included all of the schools in our region, but then our team got too large, and we had to split into multiple different teams. For the 2005 season we split into 1646; the next year we split again creating team 1747. In 20012 we helped form 4272.
 </p>
<h3>Indiana State Fair Presentation</h3>
 <p> The team has been a part of the state fair for the past eight years. This participation has been a great opportunity for our team to demonstrate the joys of science, math, technology and engineering. We have presented programs and set up FLL, Vex, and FRC robots for attendees to drive.
 </p>
<h3>Adopt-A-Spot</h3>
 <p> WBI has adopted an Adopt-A-Spot in our local community. This spot is kept squeaky clean by team members at all times.
 </p>
<h3>Boy Scout Workshops</h3>
 <p> Westside Boiler Invasion has held several workshops this year for Boy Scouts. In these workshops, Boy Scouts learn the fundamentals of <a href="http://www.lego.com/en-us/mindstorms/?domainredir=mindstorms.lego.com">LEGO Robotics</a>, the hardware and software used in FLL.
<h3>Library and Mall Demos</h3>
 <p>WBI also does library and mall demos to encourage kids to go into STEM and robotics related career paths. If you would like for us to come to your library for a demo, please <a href="/about.html">contact us</a>.
 </p>
<h3>Best Buddies</h3>
 <p>We have formed a partnership with a local branch of a national organization, Best Buddies. We hold workshops and give demonstrations to the special needs kids in Best Buddies annually.
 </p>
                                                                                                         
