<body>
	<h1>Programming Subteam</h1>
		<div>The programming subteam writes the code that makes the robot operate, as well as
creating other software to benefit the team & community.</div>
		<h1>Website History</h1>
		<h2>2004-2011</h2>
<ul>
        <li>Every web page is written in PHP.</li>
        <li>The look-and-feel of this website is stored in a CSS file which provides a central place to change how text displays.</li>
	<li>Although all normal users would see is the final product, this site has a lot of neat administration features. Having great administration functions allows administrators to quickly add nicer and more organized content for the user's benefit.</li>
</ul>
	</body>
