<body>
	<h1>Programming Subteam</h1>
	<div>The Programming Subteam is responsible for programming the robot and website, as well as creating other software to benefit the team and the community.</div>
		<h2>Website History</h2>
		<div class="clearfix">
			<h3>Website 2013</h3>
			<ul>
				<li>We used Ruby on Rails for the backend of the website.</li>
				<li>We designed a permissions system to prevent guests from posting on the blog, for example, or people who shouldn't be creating content from creating content.</li>
				<li>We use a content formatting system called Markdown which enables content to be made efficiently without having to click buttons or learn HTML.</li>
				<li>We wrote many custom CSS rules, and we did extensive work on making things attractive and intuitive.</li>
				<li>The website was developed completely open source and is hosted on the team's GitHub page.</li>
			</ul>
		</div>
		<div class="clearfix">
			<h3>Website 2010</h3>
			<ul>
				<li>The website was developed completely open source and is hosted on the team's GitHub page.</li>
				<li>All content was stored in a MySQL database for a dynamic website.</li>
				<li>Extensive CSS was used so every page looks uniform and continuous.</li>
				<li>Hand coded content management system was hidden to general users, which allowed for administrators and team members to easily edit and manage content.</li>
				<li>Adoption of newer web standards for more advanced functionality</li>
			</ul>
		</div>
		<div class="clearfix">
			<h3>Website 2009</h3>
			<ul>
				<li>Written in PHP and HTML</li>
				<li>Nearly all content stored in MySQL</li>
				<li>Designed in CSS (font, color, etc.)</li>
				<li>Administrator features make it quick and east to modify content without touching PHP code.</li>
			</ul>
			<div class="clearfix">
				<h3>Website 2008</h3>
				<ul>
					<li>XHTML - eXtensible Hypertext Markup Language - This XML-based language is used to structure most of the content on the site and is rendered by your browser.</li>
					<li>SQL - Structured Query Language - A language used to fetch entries from our database. For database management, we use MySQL.</li>
					<li>sIFR - Scalable Inman Flash Replacement - A text-replacement technique developed by Shaun Inman that allows the site to dynamically generate headlines that use fonts that a user's computer may not be able to provide.</li>
					<li>RoR - Ruby on Rails - A web framework based on the Ruby programming language. It interacts with the database and files on the host server and generates the XHTML sent to the browser.</li>
					<li>JS - JavaScript - An ECMAScript-based language used to change the appearance or behavior of the page after it has been rendered by your browser. It is especially useful in our sIFR implementation.</li>
					<li>CSS - Cascading Style Sheets - This language helps to prevent the site from looking too bland. The position, size, and color of the elements on each page are determined using CSS.</li>
					<li>AS - ActionScript - The ECMAScript-based programming language used in Adobe Flash Player. The rich fonts used by sIFR are displayed using ActionScript.</li>
				</ul>
			</div>
			<div class="clearfix">
				<h3>Website 2007</h3>
				<ul>
					<li>Every web page is written in PHP.</li>
					<li>Most of the content is stored in a MySQL database. This makes managing the site easier since the design and data are separated.</li>
					<li>The design (color, font, size, spacing, image effects, etc.) is written with CSS which provides a central place to change how everything is displayed.</li>
					<li>This site has many neat administration features hidden from normal users. Having these functions allow administrators to quickly and easily modify content without touching any PHP code.</li>
				</ul>
			</div>
			<div class="clearfix">
				<h3>Website 2006</h3>
				<ul>
					<li>Every web page was written in PHP.</li>
					<li>Most of the content was stored in a MySQL database. This made managing the site easier since the design and data were separated.</li>
					<li>The design (color, font, size, spacing, image effects, etc.) was written with CSS which provided a central place to change how everything was displayed.</li>
					<li>This site had many neat administration features hidden from normal users. Having these functions allowed administrators to quickly and easily modify content without touching any PHP code.</li>
				</ul>
			</div>
			<div class="clearfix">
				<h3>Website 2005</h3>
				<ul>
					<li>Every web page is written in PHP.</li>
					<li>Most of the content is stored in a MySQL database. This makes it possible to easily manage the theme since the content is separated from the layout.</li>
					<li>The look-and-feel of this website is stored in a CSS file which provides a central place to change how text displays.</li>
					<li>Although all normal users would see is the final product, this site has a lot of neat administration features. Having great administration functions allows administrators to quickly add nicer and more organized content for the user's benefit.</li>
				</ul>
			</div>
			<div class="clearfix">
				<h3>Website 2004</h3>
				<ul>
					<li>Every web page is written in PHP.</li>
					<li>Most of the content is stored in a MySQL database. This makes it possible to easily manage the theme since the content is separated from the layout.</li>
					<li>The look-and-feel of this website is stored in a CSS file which provides a central place to change how text displays.</li>
					<li>Although all normal users would see is the final product, this site has a lot of neat administration features. Having great administration functions allows administrators to quickly add nicer and more organized content for the user's benefit.</li>
				</ul>
			</div>
