<h1>Sponsors</h1>
<hr/>
<h2>Diamond</h2>
<hr/>
<div class="row">
  <div class="col-md-4">
    <a href="http://hs.wl.k12.in.us/"><img src="/images/wl-logo.png" height=85 /></a>
  </div>
  <div class="col-md-4">
    <a href="http://www.purduefirst.org/"><img src="/images/pfp-logo-sm.png" height=85 /></a>
  </div>
  <div class="col-md-4">
    <a href="http://www.cat.com"><img src="/images/cat-logo.png" height=85/></a>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <a href="http://www.defouwbmw.com/"><img src="/images/DeFouw.png" height=85 /></a>
  </div>
</div>

<hr/>
<h2>Platnium</h2>
<hr/>

<hr/>
<h2>Gold</h2>
<hr>

<hr/>
<h2>Silver</h2>
<hr/>

<hr/>
<h2>Bronze</h2>
<hr/>
