<body>
	<h1>Subteams</h1>
		<div>In FIRST, it is common to split the team into subteams to get tasks done more efficiently. Our subteams include Technical, Outreach and Initiatives, Website, Wiring, FTC, Invalid link specified, and Animation. Each subteam is vitally important to the functioning of the team.</div>
</body>
