<body>
</br>
<div class="col-md-12">
	<div class="clearfix panel panel-grey">
		<div class="panel-heading"><h1>Subteams</h1></div>
		<div class="panel-body">
			<div>In <em>FIRST&reg</em>, it is common to split the team into subteams to get tasks done more efficiently. Our subteams include <a href="/tech.html">Tech</a>,<a href="/outreach.html"> Outreach and Initiatives</a>, <a href="/programming.html">Programming</a>, and <a href="/media.html">Media</a>. Each subteam is vitally important to the functioning of the team.</div>
		</div>
	</div>
</div>
</div
