<body>
</br>
<div class="col-md-8 col-md-offset-2">
<div class="clearfix panel panel-grey">
<div class="panel-heading"><h1> Support Us </h1></div>
<div class="panel-body">
  <p> Rewards for contribution depend on the amount of support. Levels of support are outlined below: </p>
  <ul>
    <li> <span class="diamond">Diamond</span> Sponsor ($1000)
      <ul>
        <li>Large logo on donor shirt</li>
        <li>Promoted on website</li>
        <li>Company logo on the robot</li>
      </ul>
    </li>
    <li> <span class="platinum">Platinum</span> Sponsor ($500)
      <ul>
        <li>Large logo on donor shirt</li>
        <li>Promoted on website</li>
      </ul>
    </li>
    <li> <span class="gold">Gold</span> Sponsor ($250)
      <ul>
        <li>Large logo on donor shirt and website</li>
      </ul>
    </li>
    <li> <span class="silver">Silver</span> Sponsor ($100)
      <ul>
        <li>Logo on donor shirt and website</li>
      </ul>
    </li>
    <li> <span class="bronze">Bronze</span> Sponsor ($50)
      <ul>
        <li>Name on donor shirt and website</li>
      </ul>
    </li>
  </br>
  <p>Please <%= link_to "contact us", '/about.html' %> with any additional ideas for potential partnerships with your organization.</p>
  <p>If you are interesting in sponsoring us, please <%= link_to "contact us", '/about.html' %>. Donations can also be sent to our parent organization at: </p>

  <address>
      <br/>
      461 Boosters<br/>
      PO Box 2734<br/>
      West Lafayette, IN 47996
  </address>

  <p> Team 461 retains tax-exempt status pursuant to the provisions of United States Internal Revenue Code section 501(c)(3). The tax identification number and copies of the IRS determination letter are available upon request. Please contact us for more information. </p>
</div>
</div>
</div>

