<div class="sup_header">
<h1> Support Us </h1>
</div>
<div class="sup_body">
 <p> Rewards for contribution depend on the amount of support. Levels of support are outlined below: </p>
 <ul> 
  <li> <span class="diamond">Diamond</span> Sponsor ($1000)
	<ul>
	<li> Name and company logo in enlarged print printed on donor shirt </li>
	<li> Company logo on the robot! </li>
	</ul>
  </li>
  <li> <span class="platinum">Platinum</span> Sponsor ($500)
	<ul>
	<li> Name and company logo in enlarged print printed on donor shirt </li>
	<li> [placeholder] </li>
	</ul>
  </li>
  <li> <span class="gold">Gold</span> Sponsor ($250)
	<ul>
	<li> Name and company logo in enlarged print printed on donor shirt </li>
	</ul>
  </li>
  <li> <span class="silver">Silver</span> Sponsor ($100)
	<ul>
	<li> Name and company logo printed on donor shirt </li>
	</ul>
  </li>
  <li> <span class="bronze">Bronze</span> Sponsor ($50)
	<ul>
	<li> Name printed on donor shirt </li>
	</ul>
  </li>
	<p> There are, of course, other benefits to supporting our team, including advertising opportunities, so please get in touch with us for more information. </p>
	<p> If you are interesting in sponsoring us, please <a href="http://www.boilerinvasion.org/about.html">contact us</a>. Donations can also be sent to our parent group at: </p>
  <blockquote>
	
	<p> 461 Boosters, Inc. </p>
	<p> PO Box 2734 </p>
	<p> West Lafayette, IN 47906 </p>

  </blockquote>
  <p> Team 461 retains tax-exempt status pursuant to the provisions of United States Internal Revenue Code section 501 Sponsor (c)Sponsor (3). The tax identification number and copies of the IRS determination letter are available upon request. Please contact us for more information. </p>
</div>
