	<h1>Tech Subteam</h1>
		<div>The tech subteam is responsible for the mechanical design & fabrication of the robot
& other projects that go on throughout the year. This subteam also handles the
electronics & control systems for the robot and provides relevant information to the
programming subteam.</div>
<h2> Competitions and Robots </h2>
 <p>Every year, robotics teams from around the nation build robots to play a predetermined game using a standard "kit of parts" and some elbow grease. The game every year focuses on promoting helpful and innovative ideas that could be applied to life. Here is a compilation of each years game and corresponding robots.
<h3>Recycle Rush</h3>
 <p>The main goal is to stack totes (which are similar to mail crates) as high as possible and then cap them with large recycle bins. The game is complicated by pool noodle "litter" which is scored based on where it is located on the field. This game is different from games of the recent past because each alliance is limited to their side of the field, and the two opposing alliances do not interact except for stacking coopertition totes. Each match starts with a 15 second autonomous period followed by two minutes of intense game play. Another difference is that matches have neither winners or losers, rather the teams are ranked by how many points their alliances score.
 </p>
 <p>The WBI robot used in this year's game was Rowdy XV.
 </p>
 <img class="big_robot" src="/images/P1060318.JPG" />
<h3>Ultimate Ascent</h3>
 <p>Every round begins with a 15 second autonomous phase where points are worth double. After the autonomous phase was over the drivers can then take control of the robots. There are four places to score. The low goal is worth one point, middle goal  is worth two points, the highest goal on the wall is worth three points, and the goal above the pyramid is worth five points, however only the colored discs scored on the pyramid count. At any point the robot was allowed to climb the pyramid for points. The first tier of bars is worth 10 points, the second is worth 20 points, and the third is worth 30 points, but these points only count if the robot touches the previous tier.
 </p>
 <p>The WBI robot used in this year's game was Rowdy XIV.
 </p>
 <img class="robots" src="images/medium-DSC05725.JPG" />
<h3>Rebound Rumble</h3>
 <p>This competition sets up a field sets up the field similar to a basketball game with a divider in the center. The center divider is a metal bar a few inches high that will hinder or prevent the robotics from crossing to the other side. There are three bridges, one for each team and a neutral bridge, where the robots will be able to cross by pulling (or having another robot on the other side pushing) it down for crossing. Each side has four baskets at three different heights in the shape of a diamond. Over four different rounds the teams will score points and block the other team's shooting.
 </p>
 <p>Teams can score points by shooting baskets for one, two, or three points. During the first round each basket is worth 3 additional points. Balancing robots on the crossing bridges when the time runs out also gives points. During qualification rounds getting one robot on the bridge is worth 10 points, and two or three robots is worth 20 points. During the elimination rounds the score for three robots changes to 40.
 </p>
 <p>To get through the qualification rounds to the elimination rounds the team must earn qualification points. Teams get two points for winning each game, and another two points for cooperating and having one robot from each team balanced on the middle bridge at the end of a game. The score for the 3rd robot balancing on the team's own bridge is not worth anything in the qualification rounds to promote this cooperation.
 </p>
 <p>The WBI robot used in this year's game was Rowdy XIII.
 </p>
 <img src="/images/thumb-2012.jpg" />
<h3>Logo Motion</h3>
 <p>Logo Motion employs game pieces that are parts of the FIRST logo, in commemoration of the late artist Jane Kamden, who designed the original FIRST logo. The playing field is a standard gray, carpeted, 27 by 54 foot rectangular area. Alliances score by placing these logo parts on extended poles coming off of the Alliance Wall. However, the scoring strategy is significantly different from years past – alliances can now score points using First Tech Challenge (FTC) robots called Minibots during the last 10 seconds of the game. The game times are similar from before, though, with each game of Logo Motion lasting 2 minutes and 15 seconds. 15 seconds are dedicated to Autonomous while 2 minutes are used for teleoperation, the last 10 seconds are specially called the End Game, when Minibots can be deployed.
 </p>
 <p>The WBI robot used in this year's game was Rowdy XII.
 </p>
 <img class="robots" src="/images/thumb-2011.png" />
<h3>Breakaway</h3>
 <p>The game is based on soccer. The game is played on a carpeted 27-foot by 54-foot rectangular field. The field is separated into thirds by two bumps, one red and one blue. The three zones are known as the red zone, midfield, and the blue zone. In the middle of each bump, there is a tower, with a platform, which is 44 in. wide by 36 in. deep. There is a tunnel under the platform, which is 36 in. wide by 18 in. tall for those robots that wish to avoid the bumps.
 </p>
 <p>At the beginning of the match, each alliance will have a robot in each of the zones. The team with a robot in it's corresponding alliance color will have one ball, The robot in the midfield will receive two balls, and the robot in the other alliance's zone will have three balls. To score, a robot much place a regulation-sized soccer ball in their alliance's corresponding zone. Scoring a soccer ball is worth one point. A robot may also score two points by elevating itself over the platform at the end of match, and three points for a robot suspending itself over another robot.
 </p>
 <p>The WBI robot used in this year's game was Rowdy XI.
 </p>
 <img class="robots" src="/images/thumb-2010.jpg" />
<h3>Lunacy</h3>
 <p>The 2009 game is called Lunacy in honor of the 40th anniversary of the lunar landing. It is played on a 54' by 27' field that simulates the gravity on the moon. The flooring is made of "Regolith," a low-friction plastic that mimics the moon's one sixth gravity. Each robot is equipped with slippery wheels to keep the playing field even. Six teams compete on two alliances, red and blue, for two minutes and 15 seconds. The first 15 seconds of the game is autonomous; the remaining time is tele-operated where the robot is controlled by pilots and commanders. 
 </p>
 <p>The objective of the game is the get Moon Rocks, Empty Cells, and Super Cells into the opponent's trailer attached to the back of their robot. They are two, two and fifteen points respectively. Each alliance starts out with 60 Moon Rocks and four Empty Cells. The Empty Cells can be exchanged for Super Cells by transporting the Empty Cells from the outposts to the corner fueling stations throughout the round. The Super Cells can only be played in the last 15 seconds of the match, thus having a great affect on the final score. Payload specialists can shoot Moon Rocks at any time at opposing trailers.
 </p>
 <p>When the round begins, the robot starts out in front of the opposing payload specialist making scoring easy for teams. During autonomous, each robot can start out with a maximum of seven Moon Rocks in possession. The payload specialists start out with 20 Moon Rocks minus the number of Moon Rocks in their robot.
 </p>
 <p>The WBI robot used in this year's game was Rowdy X.
 </p>
 <img class="robots" src="/images/thumb-2009.jpg" />
<h3>Overdrive</h3>
 <p>This year's game involves six robots at a team, with each being on an alliance of three teams. The basic point of the game is to score as many points as possible by moving large, 40'' diameter balls across the oval shaped track. There are bars 9' high platforms that the trackballs are initially placed on. The robots must knock these balls down and carry, hurdle, or place, over the platforms to score points.
 </p>
 <p>The WBI robot used in this year's game was Rowdy IX.
 </p>
 <img class="robots" src="/images/thumb-2008.JPG" />
<h3>Rack N Roll</h3>
 <p>Robots compete in alliances of three to score the most points for their alliance. The game focuses on robots placing toroidal, or donut-like game pieces onto the titular "Rack"
 </p>
 <p>The WBI robot used in this year's game was Rowdy VIII.
 </p>
 <img src="/images/thumb-2007.jpg" />
<h3>Aim High</h3>
<p>Robots compete in alliances of three to score the most points for their alliance. The game starts with a ten-second "autonomous" period, where robots must move without direction from the drivers. Next, the alliance that scored the most points in autonomous mode is on defense for forty seconds (meaning one of their robots can't go across the middle of the field) while the other alliance is on offense. The alliances switch roles for the next forty seconds, culminating in a final forty-second "free for all" period where robots can move anywhere on the field. Robots can score points in three ways:</p>
<ul>
<li>Robots can throw balls into an elevated goal at the center of the wall to score three points per ball.</li>
<li>Robots can push or throw balls into either of two goals located against the wall at the sides of the field, earning one point per ball.</li>
<li>Robots can end the match on top of a ramp at the center of the wall to gain five points (for one robot), ten points (for two robots), or twenty-five points (for three or more robots). (A team can score points if an opposing robot is on the wrong ramp at the end of the game.)</li>
</ul>

<img src="/images/thumb-2006.jpg" />
<h3>Triple Play</h3>
 <p>The 2005 game involved two alliances of three robots each. The field has 9 tetrahedron goals; placed in a three by three formations. The scoring objects in this year's game are tetrahedrons that you can stack on top of the tetrahedron goals to gain 3 points (multiple tetras can be stacked on top of the goal for 3 points each), or place under those same goals for 1 point.
 </p>
 <p>In autonomous mode, a robot can grab special randomly placed vision tetras and place them on top of a goal, in the center row. If the robot places them on the center goal, then two additional tetras are put on top of each of the corner goals on the side of the alliance that put the vision tetra on the center goal, if a vision tetra is place on a side goal, then a bonus tetra is placed on top of the goal in the alliance's home row that is on the same side as the capped goal.
 </p>
 <p>A tetra placed on top of a goal is worth three and is considered "stacked". At the end of the match, if all robots are behind the starting line near your alliance station, then you will receive ten points. If a row of goals is "owned," then the alliance receives ten points. A goal is considered "owned" if the owning alliance has the top stacked tetra on the goal, or if there are no stacked tetras, then the highest contained tetras.
 </p>
 <p>The WBI robot used in this year's game was Rowdy VI.
 </p>
 <img class="robots" src="/images/thumb-2005.jpg"/>
<h3>Raising the Bar</h3>
 <p>The game starts out with a fifteen second autonomous period. During this time, both teams' robots will try and go to the Ball Tees, remove the balls and trigger the Ball Release device at the end of their field. After the auto period, the robots will collect balls and give them to the human players. The human players will then throw the balls out into the goal so that the robots can score points.
 </p>
 <p>At the end of the game, the final score is the sum of points that the balls scored in the goals. The points are doubled if the goals are capped and an additional fifty points is awarded to any robot that is hanging from the bar in the middle of the field.
 </p>
 <p>The WBI robot used in this year's game was Rowdy V.
 </p>
 <img class="robots" src="/images/thumb-2004.jpg"/>
<h3>Stack Attack</h3>
 <p>The object of this game  is for each robot to stack the most number of plastic storage containers on its own side of the field. There is a ten second human player round. During this time, the human player can place eight containers in its own alliance's zone.
 </p>
 <p>During the fifteen second autonomous period, the robots compete without human control and they try to place the containers in their own scoring zone. By multiplying the number of containers in the highest stack by the number of total containers in the scoring zone, the final score is determined. An additional twenty-five points is awarded to each robot that is on the top of the platform at the end of the match.
 </p>
 <p>The WBI robot used in this year's game was Rowdy IV.
 </p>
 <img class="robots" src="/images/thumb-2003.jpg"/>
