<body>
	<h1>Tech Subteam</h1>
		<div>The tech subteam is responsible for the mechanical design & fabrication of the robot
& other projects that go on throughout the year. This subteam also handles the
electronics & control systems for the robot and provides relevant information to the
programming subteam.</div>
</body>
